hr{
    border-style: dotted none none none;
    background-color: powderblue;
    width: 5%;
    border-color:grey;
    height: 0px;
    border-width: 5px;
}
body{
    background-color: powderblue;
}
h1,h2{
    color: #0900C3;
}
img{
    border-radius: 100%;
    
}
img:hover{
    
}